# Ignorar diretórios de dependências
node_modules/
dist/
build/

# Ignorar arquivos de log
*.log

# Ignorar arquivos de configuração do editor
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Ignorar arquivos de sistema
.DS_Store
Thumbs.db

# Ignorar arquivos de cache
.cache/
*.tmp

# Ignorar arquivos de configuração do ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local